
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#horloge{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#imgHorloge{
    margin-top: 50px;
    width: 400px;
}

#heures, #minutes, #secondes {
    position: absolute;
    bottom: 475px;
    right: 765px;
    transform-origin: bottom;
}

#heures{
    border-right: 5px solid black;
    height: 150px;
    border-radius: 0 50% 0 50%;
}

#minutes{
    border-right: 3px solid black;
    height: 120px;
    transform: rotate(310deg);
    border-radius: 0 50% 0 50%;
}

#secondes{
    border-right: 1px solid red;
    height: 90px;
    transform: rotate(150deg);
    border-radius: 0 50% 0 50%;
}

